<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/estilos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />    
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <style type="text/css"> BODY{ font-family: Roboto; } </style>
</head>
<body>
    <header class="fondo-amarillo">
        <div><img src="/static/images/logo-mercado-liebre.svg" width="360" alt="Logo de mercado liebre"  class="banner"></div>
        <div></section><span id="buscador">Buscar productos, marcas </span></div>
        <div><i class="fas fa-search" id="lupa"></i></div>
        <section>
            <i class="fas fa-hand-holding-usd" id="manito"></i>
            <span class="nav">Comprá en cuotas y sin tarjeta de crédito</span>
        </section>
        <nav class="nav">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav class="nav">
            <ul>
                <li>Creá tu cuenta<i class="far fa-address-card"></i></li>
                <li>Ingresá<i class="fas fa-sign-in-alt"></i></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>   
        </nav>       
        <div class="burger-menu">
            <div id="caja"><i class="fas fa-bars" id="burger" ></i></div>            
        </div>
        <br>
        <img src="/static/images/img-home-banner.jpg" width="360" alt="Banner" class="product_img">
    </header>
    <main class="fondo-gris-claro">        
        <section>
            <h3><b>Basado en tu última visita</b></h3>
            <img src="/static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h4 class="descripcion"><b>Cafetera Moulinex</b></h4>

            <img src="/static/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook" class="product_img">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripcion"><b>MacBook Pro 2019</b></h4>

            <img src="/static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripcion"><b>Samsung Galaxy S10</b></h4>

            <img src="/static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripcion"><b>SmartTv Samsung 43"</b></h4>
        </section>
        <section>
            <h3><b>Sección de ofertas</b></h3>
            <img src="/static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h4 class="descripcion"><b>Cafetera Moulinex</b></h4>

            <img src="/static/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook" class="product_img">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripcion"><b>MacBook Pro 2019</b></h4>

            <img src="/static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripcion"><b>Samsung Galaxy S10</b></h4>

            <img src="/static/images/img-tv-samsung-smart.jpg" width="360" alt="SamrtTv Samsung" class="product_img">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripcion"><b>SmartTv Samsung 43"</b></h4>
        </section> 
    </main>
    <footer>
        <section class="footer">
            <div class="img-footer"><i class="fas fa-credit-card"></i></div> 
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <div class="img-footer"><i class="fas fa-gift"></i></div> 
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <div class="img-footer"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </section>
    </footer>    
</body>
</html>